body {
  background-image: url(pictures/background2.png);
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0; /* Reset default margin */
}

.container {
  max-width: 400px;
  margin: 100px auto; /* Adjust the top margin to lower down the form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h5, h2 {
  color: white;
  text-align: center;
}

.user-input {
  padding-left: 30px;
  border: none !important;  
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: linear-gradient(90deg, rgba(210,0,0,1) 0%, rgba(138,0,0,0.583158263305322) 50%, rgba(0,0,0,0) 100%);
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.password-input {
  padding-left: 30px; 
  border: none !important;  
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: linear-gradient(90deg, rgba(0,0,0,0.006127450980392135) 0%, rgba(138,0,0,0.583158263305322) 50%, rgba(210,0,0,1) 100%);
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  top: 10px;
}

.password-input {
  position: relative;
}

.password-input input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
}

.user-icon {
  position: absolute;
  left: 58px; 
  top: 37.6%;
  transform: translateY(-50%);
  color:#ffffff;
}

.lock-icon {
  position: absolute;
  right: 95px; 
  top: 45.1%;
  transform: translateY(-50%);
  color:#ffffff;
}

.show-hide {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
}

.password-input::placeholder {
  text-align: right;
  padding-right: 30px;
  color:#d9d9d9;
}

.user-input::placeholder {
  color:#d9d9d9;
}

.buttons {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 30px;
  border-radius: 20px;
  cursor: pointer;
  width: 100%; /* Full width button */
  display: block; /* Make it a block-level element */
}

.buttons1, .buttons2 {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block; /* Make them inline-block */
  text-decoration: none; /* Remove default underline for links */
}

.buttons2 {
  float: right; /* Align to the right */
}

.buttons1 {
  float: left; /* Align to the left */
  margin-right: 10px;
}

#error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}
